<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <style>
      .ng-invalid.ng-dirty {
        border-color: #FA787E;
      }

      .ng-valid.ng-dirty {
        border-color: #78FA89;
      }
    </style>
  </head>
  <body ng-controller="StoreController as store">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products">
        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency}}</em>
        </h3>
        <section ng-controller="PanelController as panel">
          <ul class="nav nav-pills">
            <li ng-class="{active:panel.isTabSet(1)}">
              <a href ng-click="panel.setTab(1)"> Description </a>
            </li>
            <li ng-class="{active:panel.isTabSet(2)}">
              <a href ng-click="panel.setTab(2)"> Specifications </a>
            </li>
            <li ng-class="{active:panel.isTabSet(3)}">
              <a href ng-click="panel.setTab(3)"> Reviews </a>
            </li>
          </ul>
          <div class="panel" ng-show="panel.isTabSet(1)">
            <h4> Description </h4>
            <p> {{product.description}} </p>
          </div>
          <div class="panel" ng-show="panel.isTabSet(2)">
            <h4> Specifications </h4>
            <p> Not there yet </p>
          </div>
          <div class="panel" ng-show="panel.isTabSet(3)">
            <h4> Reviews </h4>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="review in product.reviews">
                <b>{{review.stars}} Stars</b>
                {{review.body}}
                <cite>by: {{review.author}}</cite>
              </li>
            </ul>
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
                                    novalidate>
              <blockquote>
                <b>{{reviewCtrl.review.stars}} Stars</b>
                {{reviewCtrl.review.body}}
                <cite>by: {{reviewCtrl.review.author}}</cite>
              </blockquote>
              <select ng-model="reviewCtrl.review.stars" required>
                <option value="" disabled selected>Select your option</option>
                <option value="5">5 star</option>
                <option value="4">4 star</option>
                <option value="3">3 star</option>
                <option value="2">2 star</option>
                <option value="1">1 star</option>
              </select>
              <textarea ng-model="reviewCtrl.review.body" required></textarea>
              <label>by:</label>
              <input type="email" ng-model="reviewCtrl.review.author" required />
              <!-- <div> reviewForm is {{reviewForm.$valid}} </div> -->
              <input type="submit" value="Submit" />
            </form>
          </div>
        </section>
      </li>
    </ul>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
